<header>
  <nav>
    <a class="logo" href="#" aria-label="Accueil">
      <i class="fa-solid fa-book-medical"></i>
    </a>

    <button class="basculer" aria-expanded="false" aria-controls="menu" aria-label="Ouvrir le menu">
      <i class="fa-solid fa-bars ouvrir"></i>
      <i class="fa-solid fa-xmark fermer"></i>
    </button>

    <ul id="menu" class="menu" hidden>
      <li><a href="#">Liste</a></li>
      <li><a href="#">Ajouter</a></li>
    </ul>
  </nav>
</header>
